.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 300px;
  padding: 20px 20px;
  margin-top: 20px;
}

.full-width {
  width: 100%;
  margin-top: 8px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding-top: 16px;
}